<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Accessibility Settings</title>
  <link rel="stylesheet" href="../css/accessPage.css">
  <script src="../scripts/access.js" defer></script>
</head>
<body>
<div id="header-container" ></div>

<div class="sidebar">
  <h2>User Panel</h2>
  <ul>
    <li><a href="../index.html">Home</a></li>
    <li><a href="../components/favourite.html">Favourite Movies</a></li>
    <li><a href="../components/accessibility.html">Accessibility</a></li>
  </ul>
</div>

<main>
  <section>
    <h2>High Contrast Mode</h2>
    <button id="toggle-contrast">Enable High Contrast</button>
  </section>
</main>
<script src="../scripts/headerfooter.js" type="module"></script>

</body>
</html>
