<!DOCTYPE html>

<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Actor Details</title>
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/movieDetail.css">
    <link rel="stylesheet" href="../css/actorDetail.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
  </head>

  <body>

    <div id="header-container"></div>

    <div id="actor-container" class="actor-container">

      <div id="poster-section">
        <img id="actor-profile" alt="Actor Profile">
      </div>

      <div id="actor-details">
        <div id="actor-name"></div>
        <p><strong>Biography:</strong> <span id="actor-biography"></span></p>
        <p><strong>Place of Birth:</strong> <span id="actor-place-of-birth"></span></p>
        <p><strong>Birthday:</strong> <span id="actor-birthday"></span></p>
      </div>
      
    </div>
    
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="../scripts/actorDetails.js"></script>
    <script src="../scripts/headerfooter.js" type="module"></script>
    <script src="../scripts/access.js" defer></script>

  </body>

</html>
