<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/admin.css">
</head>
<body>

<div class="sidebar">
    <h2>Admin Panel</h2>
    <ul>
        <li><a href="../index.html">Home</a></li>
        <li><a href="../components/admin.html">Dashboard</a></li>
        <li><a href="manageMovies.html">Manage Movies</a></li>
        <li><a href="../components/accessibility.html">Accessibility</a></li>


        <li></li>
        <li><a href="../components/adminSignIn.html" onclick="signOut()">Sign Out</a></li>
    </ul>
</div>
<div class="main-content">
    <h1>Dashboard</h1>

    <div class="admin-stats">

    </div>


<script src="script.js"></script>
<script src="../scripts/access.js" defer></script>
<script src="../scripts/adminSignOut.js"></script>
</body>
</html>
