<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Manage Movies</title>
  <link rel="stylesheet" href="../css/editMovies.css">
</head>
<body>

<div class="sidebar">
  <h2>Admin Panel</h2>
  <ul>
    <li><a href="../index.html">Home</a></li>
<!--    <li><a href="../components/admin.html">Dashboard</a></li>-->
    <li><a href="../components/manageMovies.html">Manage Movies</a></li>
    <li><a href="../components/adminAccessibility.html">Accessibility</a></li>

    <li></li>
    <li><a href="../components/adminSignIn.html" onclick="signOut()">Sign Out</a></li>
  </ul>
</div>

<div id="header-container"></div>

<main>
  <h2 id="emh2">Movie Management</h2>
  <div class="movie-management">
    <div class="movie-box">
      <a href="../components/updateMoviePage.html">
        <div class="symbol">✎</div>
        <div class="caption">Edit Movies</div>
      </a>
    </div>
    <div class="movie-box">
      <a href="../components/deleteMovie.html">
        <div class="symbol">🗑</div>
        <div class="caption">Delete Movies</div>
      </a>
    </div>
    <div class="movie-box">
      <a href="../components/addMoviePage.html">
        <div class="symbol">＋</div>
        <div class="caption">Insert Movies</div>
      </a>
    </div>
  </div>
</main>
<script src="../scripts/access.js" defer></script>
<script src="../scripts/adminSignOut.js"></script>
</body>
</html>
