<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Update Movie</title>
  <link rel="stylesheet" href="../css/header.css">
  <link rel="stylesheet" href="../css/updateMoviePage.css">
</head>
<body>
<div id ="header-container"></div>

<main>
  <h1>Update Movie Details</h1>

  <div class="search-container">
    <input type="text" id="movie-search" placeholder="Search for a movie..." />
    <button id="search-button">Search</button>
  </div>

  <div id="search-results" class="search-results"></div>

</main>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="../scripts/updateMoviePage.js"></script>
<script src="../scripts/headerfooter.js"></script>
<script src="../scripts/access.js" defer></script>

</body>
</html>