/* aboutUs.css */

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    /*background-color: #f4f4f4;*/
    background-color: hsla(45, 77%, 56%, 0.829);

}

main {
    padding: 20px;
    margin-top: 50px;


}

#about-us {
    max-width: 900px;
    margin: 0 auto;
    background-color: #fff;
    padding: 30px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

h1 {
    font-family: 'Nunito', sans-serif;
    font-size: 36px;
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

h2 {
    font-family: 'Nunito', sans-serif;
    font-size: 28px;
    color: #444;
    margin-bottom: 10px;
}

p {
    font-size: 16px;
    color: #555;
    line-height: 1.6;
    margin-bottom: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    font-size: 16px;
    color: #555;
    margin-bottom: 10px;
}

ul li strong {
    color: #007bff;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: #fff;
    margin-top: 40px;
}

footer p {
    margin: 0;
}

/* Add responsive design */
@media (max-width: 768px) {
    h1 {
        font-size: 30px;
    }

    h2 {
        font-size: 24px;
    }

    p {
        font-size: 14px;
    }
}
