#actor-poster {
  margin-top: 100px;
}

.container h1 {
  margin-top: 80px; /* Keeps space from the top */
  font-size: 3em; /* Increases the font size for a bolder look */
  color: #272635; /* Dark color for the text */
  text-align: center; /* Centers the text horizontally */
  letter-spacing: 1px; /* Adds space between letters for better readability */
  text-transform: uppercase; /* Makes the text uppercase for emphasis */
  padding: 10px 20px; /* Adds padding inside the h1 */
}

.actor-container {
  display: flex;
  align-items: flex-start; 
  justify-content: center; 
  gap: 200px; 
  margin-top: 100px;

}

#actor-profile {
  width: 100%; 
  height: 600px;
  object-fit: cover; /* Ensures the image maintains aspect ratio */
}

#actor-name {
  font-size: 42px;
  text-transform: uppercase;
  color: #272635;
  text-align: center; /* Centers the actor's name */
}

#actor-details {
  max-width: 600px; 
  font-size: 18px; 
  line-height: 1.6; 
  text-align: center; 
  flex: 1;
  background-color: white;
  border-radius: 15px;
  padding: 15px;
  margin: 10px;
}

#actor-details p {
  margin-bottom: 15px; 
}

#actor-details strong {
  font-weight: bold;
  color: #272635; 
}

#actor-container img {
  max-width: 100%; 
  border-radius: 10px; 
}
