/* backButton.css */
.back-button {
    position: absolute;
    top: 0px;
    left: 10px;
    font-size: 4rem; /* Adjust size as needed */
    cursor: pointer;
    background-color: transparent;
    border: none;
    color: red;
    padding: 5px;
}

.back-button:hover {
    color: blue; /* Optional: color change on hover */
}
