body{
  background-color: hsla(45, 77%, 56%, 0.829);
}

.movie-header{
  display: flex;
  justify-content: space-between;
}

#favourite-btn{
  width: 50px;
  height: 50px;
  font-size: 40px;
  margin-top: 25px;
  color: red;
  border:0;
  background-color: transparent;

}

#favourite-btn:hover {
  color: #f36969;
  cursor: pointer;

}

#movie-poster{
  margin-top: 100px;
  border-radius: 10px; 
}

.container h1{
  margin-top: 80px; /* Keeps space from the top */
  font-size: 3em; /* Increases the font size for a bolder look */
  color: #272635; /* Dark color for the text */
  text-align: center; /* Centers the text horizontally */
  letter-spacing: 1px; /* Adds space between letters for better readability */
  text-transform: uppercase; /* Makes the text uppercase for emphasis */
  padding: 10px 20px; /* Adds padding inside the h1 */
}

.movie-container {
  display: flex;
  align-items: flex-start; 
  gap: 200px;
  padding: 20px;

}

.poster-section img {
  height: auto;
}

.movie-details {
  margin:10px;
  margin-top:  100px;
  flex: 1; /* Takes remaining space */
  max-width: 600px; /* Limit text width */
  background-color: white;
  padding:20px;
  border-radius: 20px;
}

.movie-name h1 {
  font-size: 42px;
  text-transform: uppercase;
}

.movie-details p {
  margin: 50px 0;
  font-size: 34px;
  color: #272635; 
}

.inline {
  display: inline;
  margin-right: 10px;
}

#movie-poster {
  width: 500px;
  height: 100%; /* Limit the height */
  object-fit: cover; /* Ensure the image fits within the container */
}