<head>
  <link rel="stylesheet" href="../css/header.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet">
</head>
<body>
<header class="header">
  <img id="logo" src="../images/logo.png" alt="Company Logo">
  <div class="dropdown">
    <span id="menu-btn"><a href="#">☰ Menu</a></span>
    <div class="content">
      <a href="/components/library.html">🎞️ View All</a>
      <a href="/components/favourite.html">♥ Favourites</a>
    </div>
  </div>

  <form id="search-form" action="../components/search.html" method="GET">
    <input type="text" placeholder="Search for a Movie..." id="search-query" name="query">
    <button type="submit" id="search-btn" disabled>🔍</button>
  </form>

  <nav>
    <ul>
      <li><a href="../index.html">⌂ Home</a></li>
      <li><a href="../components/about.html">🗎 About</a></li>

      <!-- Sign In Dropdown, initially visible -->
      <div class="dropdown" id="signInSection">
        <span id="signIn-btn"><a href="#">👤Sign In</a></span>
        <div class="content">
          <a href="../components/signIn.html">Sign In as User</a>
          <a href="../components/adminSignIn.html">Sign In as Admin</a>
        </div>
      </div>

      <!-- Create Account button, initially visible -->
      <li id="signUpBtn"><a href="../components/signUp.html">🔨 Create Account</a></li>

      <!-- User's Name and Sign Out button, initially hidden -->
      <li id="userSection" style="display:none;">
        <button id="signOutBtn">Sign Out</button>
        <a href="../components/account.html" id="person-icon">
          <img src="../images/person-icon.png" alt="Profile Icon">
          <span id="username"></span>
        </a>
      </li>

      <!-- Admin's Name and Sign Out button, initially hidden -->
      <li id="adminSection" style="display:none;">
        <button id="adminSignOutBtn">Sign Out</button>
        <a href="../components/manageMovies.html" id="admin-icon">
          <img src="../images/admin.png" alt="Admin Icon">
          <span id="adminUsername"></span>
        </a>
      </li>
    </ul>
  </nav>

</header>
</body>